//- Application Layout
v-app#app

  //- Main navigation drawer
  appDrawer(
    :drawer="drawer"
    :routes="routes"
  )

  //- Main application header
  appHeader(
    @click="toggleDrawer"
  )

  appContent

  //- Main application footer
  appFooter